#Modify if needed paths to a grid file, output file and WSA fits file

[Gamera]
gameraGridFile = heliogrid.h5
GridDir = /glade/u/home/elenap/gameraHelio/OHelio/grid
gameraIbcFile = innerbc.h5
IbcDir = /glade/u/home/elenap/gameraHelio/OHelio/ibc

[Grid]
tMin = 0.1
tMax = 0.9
Rin = 1.
Rout = 10.
Ni = 256
Nj = 128
Nk = 256

[WSA]
wsafile = /glade/u/home/elenap/gameraHelio/OHelio/1AUfiles/CR2095/wsa.h5
density_temperature_infile = no
gauss_smooth_width = 0 ; 8
plots = yes
normalized = yes

[Constants]
gamma = 1.5  ;1.05
NO2   = 4

[Normalization] ; should be normalization from inner helio
Xscale = 1.496e8 !in km
B0 = 1.e-3  ; 5 nT = 5.e-5 Gs
n0 = 200.   ; cm-3

