[Grid]
gameraGridFile = heliogrid.h5
GridDir = /glade/u/home/elenap/gameraHelio/grid
gameraIbcFile = innerbcTD.h5
IbcDir = /glade/u/home/elenap/gameraHelio/ibcTD
tMin = 0.1
tMax = 0.9
Rin = 21.5
Rout = 221.5
Ni = 256
Nj = 128
Nk = 256

[Output]
Prefix = 2012

[Normalization]
Xscale = 6.955e10

[Magnetic polarity]
Monopole : no

[Constants]
gamma = 1.5
NO2   = 4
Tsolar = 25.38 

[ADAPT]
adaptdir = /glade/u/home/elenap/gameraHelio/WSAfiles/CR2210
wild_card = vel*2018*R007*.fits
#cadence in days -- make sure to retain units throughout (not Tsolar above)
cadence = 1
density_temperature_infile = no
gauss_smooth_width = 0
plots = yes
normalized = no


[DUMPS]
init = no
BC = yes
