;Comments and definitions:
;If needed, modify the  paths to the grid file, output innerbc file and WSA fits file
;tMin and tMax set the range for theta [tMin, tMax]*pi 
;Rin and Rout are inner and outer boundaries in the radial direction
;Ni, Nj, Nk set the number of cells in r, theta, phi directions
;Nghost is the number of ghost cells
;nCS is the number density in the current sheet for pressure balance calculation
;TCS is the temperature in the current sheet for pressure balance calculation

[Gamera]
gameraGridFile = heliogrid.h5
GridDir = ./
gameraIbcFile = innerbc.h5
IbcDir = ./

[Grid]
tMin = 0.1
tMax = 0.9
Rin  = 21.5
Rout = 220.
Ni   = 128
Nj   = 64
Nk   = 128

[WSA]
;wsafile is the path to the WSA fits file relative to $KAIJUHOME
;Helio test uses WSA file for Carrington Rotation 2193, by default
wsafile = examples/helio/vel_201708132000R002_ahmi.fits 
density_temperature_infile = no
gauss_smooth_width         = 0 ; 8
normalized                 = no

[Constants]
gamma  = 1.5 
Nghost = 4
Tsolar = 25.38 
nCS = 1100. ; in [cm-3]
TCS = 1.e6  ; in [K]

[Normalization]
B0 = 1.e-3  ; in [Gs] equals to 100 [nT]
n0 = 200.   ; in [cm-3]





